#container {
  margin: auto
}
.head {
  display: inline-block;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  
}
#one{
  background-color: black;
}
#two {
  background-color: yellow;
}
#three {
  background-color: red;
}